@import "tailwindcss";

@theme {
  /* 1. Configuración de Fuentes (vinculada a la variable de Next.js) */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;

  /* 2. Tus Colores Personalizados */
  --color-primary: #15803d;
  --color-secondary: #14532d;
  --color-tertiary: #f0fdf4;
  --color-surface: #ffffff;
  
  /* Colores extra para detalles */
  --color-accent: #dcfce7;
}

/* 3. Estilos base (opcional, para resets o defaults) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}